# so that new versions can be published
/upload-keystore.jks
/key.properties

/app/build.gradle

/app/google-services.json

gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
